*{
    padding:0;
    margin:0;
}
body{
    background-image: url("/images/bg3.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-width
{
    width: 100%;
    margin: 0px;
}
.navi
{
    padding:0px 30px;
}
.navi:hover
{
    background-color: teal;
    font-weight: bolder;
}
#nav1
{  
    opacity: 0.9; 
    filter:(opacity=50);       
}
.list1
{
    font-size: 20px;
    margin-top: 80px;
    text-transform: capitalize;
    position: relative;
}
.list1 h2
{
    font-size: 20px;
}
.heading2
{
    margin-top: 70px;
    
}
.testing
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.testing h1{
    padding-top:50px;
    font-size: 25px;
}
.testing h2
{
    font-size: 20px;
    text-align: justify;
}
.testing #font1
{
    font-size: 40px;
}
@media screen and (max-width: 986px) {
    .list1 {
        margin-top: 50px !important;
    }
}